.table {
  color:black;
}

.supTabla {
  border-radius: 5px;
  background-color: #EDEDED;
  color: black;
  padding-top: 15px;
  padding-left: 10px;
  margin-bottom: 5px;
}

#mitabla tr:nth-child(odd){
/*para los colores de las filas impares*/
background-color: #ffffff;
}
#mitabla tr:nth-child(even){
/*para los colores de las filas pares*/
background:#EDEDED;
}

#incidencia img{
  margin-left:30%;
}

.incidentsOk {
  color:black;
}

.incidentsOk strong {
  color:red;
  font-size:18px
}

.incidentsOk h1 {
  color:black;
  text-align:center;
}

.noIncidents strong {
  color:green;
  font-size:18px
}

.noIncidents h1 {
  color:black;
  text-align:center;
}
