
<div ng-include="'components/navbar/navbar.html'"></div>

<h2>{{ checklistTitle }}</h2>
<div class="col-md-12"  style="padding-top:5px;" ng-repeat="text in checklistIn">

 <div class="container">
    <button class="btn btn-danger" ng-click="checarBoton($mostrar)" ng-show="mostrarStep"><span class="glyphicon glyphicon-remove-circle"></span></button>
    <button class="btn btn-success" ng-click="checarBoton($mostrar)" ng-hide="mostrarStep"><span class="glyphicon glyphicon-ok"></span></button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse{{text.step}}" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-pencil"></span></button>
    <buttom class="btn btn-info"><span class="glyphicon glyphicon-camera"></span></buttom>
    <button class="btn btn-warning" data-toggle="modal" data-target="#myModal{{text.step}}"><span class="glyphicon glyphicon-info-sign"><span></button>
    <label> - {{text.action}}: </label>

    <div class="modal fade" id="myModal{{text.step}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body" style="color:grey;">
            <strong> {{text.action}} :</strong><br>
            {{ text.info }}
          </div>
      </div>
      </div>
    </div>

    <div class="collapse" id="collapse{{text.step}}" style="margin-top:5px;">
      <div class="well" style="background-color:#428bca; border:0px; padding:10px">
        <input type="text" class="form-control" name="commit" value="">
      </div>
    </div>

 </div>
 </div>
