
hr {
    height: 1px;
    border: 0;
    background-color: white;
    margin-top: 4px;
    margin-bottom: 10px;
}

h3 {
    color: #286090;
    clear: both;
}

.DatosForm {
  margin-left: 20px;
  margin-bottom: 35px;
  color: white;

}

.regDoc {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 160px;
}
