.navbar {
  background: black;
  font-size: 11px;
  border-color: yellow;
}

.navbar-default .navbar-brand {
  color: yellow;
}

.navbar-header > a.navbar-brand {
  color: red;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: red;
  color: yellow;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: black;
}

.navbar-default .navbar-nav > li > a {
  color: yellow;
}

.navbar-default .navbar-nav > li > a:hover {
  color: orange;
}

.navbar-header > a:hover.navbar-brand {
  color: yellow;
}

.navbar-header > a:focus.navbar-brand {
  color: red;
}

.navbar-default .navbar-text {
  color: orange;
  text-align: right;
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 14px;
}
