<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <form id="notify">
    <div class="form-group">
      <label for="name">Para:</label>
      <select class="form-control" ng-model="user" ng-options="user.id as user.name for user in users"></select>
    </div>
    <div class="form-group">
      <label for="tema">Tema:</label>
    	<input class="form-control" type="text" name="tema" id="tema" placeholder="Referente a..." />
    </div>
    <div class="form-group">
      <label for="comment">Comentario:</label><br>
    	<textarea class="form-control" placeholder="Detalla tu comentario aquí" id="comment" name="comment" cols="40"></textarea>
    </div>
    <div class="btn-group">
      <div class="btn btn-info" name="img" ngf-select="true" ng-model="file" accept="image/*">
        <span class="glyphicon glyphicon-camera"></span>
      </div>
    </div>

    <button class="btn btn-primary" type="summit" ng-click="sendNotify(formNotify)">Enviar</button>
  </form>

</div>
