
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12" ng-app="">


 <div class="container">

   <h2> {{ chechlistTitle }} </h2>
    <h1>{{ checklistOut[1].description }}</h1>

   <ul ng-repeat="task in checklistOut track by $index">
     <li>
       <button class="btn btn-danger" ng-click="checarBoton=false"><span class="glyphicon glyphicon-remove-circle"></span></button>
       <button class="btn btn-success" ng-click="checarBoton=true" ng-hide="true"><span class="glyphicon glyphicon-ok"></span></button>
       <button class="btn btn-primary" ng-click="commit(true)"><span class="glyphicon glyphicon-pencil"></span></button>
       <button class="btn btn-info"><span class="glyphicon glyphicon-camera"></span></button>
       <button class="btn btn-warning" data-toggle="modal" data-target="#{{ task.step }}"><span class="glyphicon glyphicon-info-sign"><span></button>
       <label> - <p>{{ task.action }}</p></label>

       <div class="modal fade" id="{{ task.step }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-body" style="color:grey;">
                 <strong>{{ task.action }}</strong><br>
                 <p>{{ task.info }}</p>
               </div>
           </div>
         </div>
       </div>


     </li>
   </ul>

</div>
